<h1>部活動新規登録</h1>

<%= form_with(model: @club) do |f| %>
    <% if @club.errors.any? %>
        <div>
            <h2><%= @club.errors.count %> 個のエラーがあります。</h2>
            <ul>
                <% @club.errors.full_messages.each do|message|%>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    
    <div>
        <%= f.label :name, "名前" %><br>
        <%= f.text_field :name, size: 30 %>
    </div>

    <div>
        <%= f.submit "登録" %><br>
    </div>


<% end %>

<div style="text-align:center">
    <%= link_to '一覧画面へ', clubs_path, class: "btn btn-primary" %>
</div>